<header class="header">
    <div class="header__logo">
        <img class="header__logo--icon"
            src="../../../assets/header/header__logo.svg" alt="Logo">
    </div>
    <div class="header__box">
        <h1 class="header__box__content">
            <span class="header__box__content--title">
                Carlos Celis
            </span>
            <span class="header__box__content--sub">
                Desarrollador Full Stack
            </span>
        </h1>
        <a href="#" class="header__box__btn 
                header__box__btn--white">
            Mis Proyectos
        </a>
    </div>
</header>