<section class="about">
    <div class="about__content">
        <h4 class="about__content--title">
            Perfil Profesional
        </h4>
    </div>
    <div class="about__grid">
        <div class="row-2cols">
            <div class="col-1-of-2">
                <div class="about__grid__data">
                    <h4 class="about__grid__data--title">
                        Descripción
                    </h4>
                    <p class="about__grid__data--text">
                        Ingeniero con experiencia en el sector financiero y académico desarrollando soluciones
                        móviles y web, siguiendo los estándares requeridos por la industria, OWASP en seguridad,
                        versionamiento con Git y documentación detallada, con competencias en trabajo 
                        en equipo, orientación al logro, análisis y organización.
                        
                    </p>
                    <h4 class="about__grid__data--title">
                        Herramientas
                    </h4>
                    <p class="about__grid__data--text">
                        Dominio de C#, ASP.NET Core (Web APIs), Angular, Javascript/Typescript, CSS, SCSS, SaSS, Bootstrap, 
                        GitHub, MySql, PostgreSql, NoSql, Android Studio, XCode, metodología Kanban, uso de servicios en la nube de 
                        Amazon Web Services (Ec2, S3, RDS, DynamoDb, IAM).
                    </p>
                </div>
            </div>
            <div class="col-2-of-2">
                <div class="about__grid__imgs">
                    <img class="about__grid__imgs__photo about__grid__imgs__photo--p3"
                        src="../../../assets/about/about__asecofin.png" alt="Asecofin">
                    <img class="about__grid__imgs__photo about__grid__imgs__photo--p2"
                        src="../../../assets/about/about__tiindux.png" alt="Tiindux">
                </div>
            </div>
        </div>
    </div>
</section>