@import 'styles_variables.scss';

@mixin fix-row-0height {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.row-2cols {
    margin-left: $horizontal-space;
    max-width: $gridWidth;
    
    &:not(:last-child){
        margin-bottom: $vertical-space;
    }

    @include fix-row-0height;

    .col-1-of-2 {
        width: calc((100% - #{$horizontal-space}) / 2);
        float: left;
        margin-right: $horizontal-space;
    }

    .col-2-of-2 {
        width: calc((100% - #{$horizontal-space}) / 2);
        float: right;
    }
}

.row-3cols {
    max-width: $gridWidth;

    &:not(:last-child){
        margin-bottom: $vertical-space;
    }

    @include fix-row-0height;

    .col-1-of-3 {
        width: calc((100% - 2 * #{$horizontal-space}) / 3);
        float: left;
        margin-right: $horizontal-space;
    }

    .col-2-of-3 {
        width: calc((100% - 2 * #{$horizontal-space}) / 3);
        float: left;
        margin-right: $horizontal-space;
    }

    .col-3-of-3 {
        width: calc((100% - 2 * #{$horizontal-space}) / 3);
        float: right;
    }
}

.row-4cols {
    max-width: $gridWidth;

    &:not(:last-child){
        margin-bottom: $vertical-space;
    }

    @include fix-row-0height;

    .col-1-of-4 {
        width: calc((100% - 3 * #{$horizontal-space}) / 4);
        float: left;
        margin-right: $horizontal-space;
    }

    .col-2-of-4 {
        width: calc((100% - 3 * #{$horizontal-space}) / 4);
        float: left;
        margin-right: $horizontal-space;
    }

    .col-3-of-4 {
        width: calc((100% - 3 * #{$horizontal-space}) / 4);
        float: left;
        margin-right: $horizontal-space;
    }

    .col-4-of-4 {
        width: calc((100% - 3 * #{$horizontal-space}) / 4);
        float: right;
    }
    
}