@import 'styles_variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    
    @media (max-width: 43.75em) { // 700px
        font-size: 50%;
    }

    @media (max-width: 23.44em) { // 375px
        font-size: 40%;
    }

}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    color: $titlesColor;
    padding: 2.6rem;
}